<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="usersDAO" class="com.fengfan.model.dao.UsersDAO" >
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="authoritiesDAO" class="com.fengfan.model.dao.AuthoritiesDAO" >
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="providerDAO" class="com.fengfan.model.dao.ProviderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="gatewayTypeDAO" class="com.fengfan.model.dao.GatewayTypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="gatewayDAO" class="com.fengfan.model.dao.GatewayDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="custGroupDAO" class="com.fengfan.model.dao.CustGroupDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="groupAttrDAO" class="com.fengfan.model.dao.GroupAttrDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="customerDAO" class="com.fengfan.model.dao.CustomerDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="lotDAO" class="com.fengfan.model.dao.LotDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="tollDAO" class="com.fengfan.model.dao.TollDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="realmDAO" class="com.fengfan.model.dao.RealmDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="sysLogDAO" class="com.fengfan.model.dao.SysLogDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="payRecordDAO" class="com.fengfan.model.dao.PayRecordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="settleRecordDAO" class="com.fengfan.model.dao.SettleRecordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="udrDAO" class="com.fengfan.model.dao.UdrDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="activeCallDAO" class="com.fengfan.model.dao.ActiveCallDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>
